.indexPrizes {
    position: relative;
    z-index: 1;
    padding: 68rem 0 106rem;

    @include mob {
        padding: 28rem 0 100rem;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        content: "";

        @include bg("/media/bg-desktop-decor.svg", 100% auto, center 180rem);
    }

    &__inner {
        align-items: center;
    }

    &__title {
        margin-bottom: 30rem;

        @include mob {
            margin-bottom: 34rem;
        }
    }

    &__main {
        position: relative;
        width: 100%;
        height: 436rem;
        margin-bottom: 156rem;

        @include mob {
            height: 390rem;
            margin-bottom: 112rem;
        }

        &Thumb {
            display: block;
            object-fit: contain;
            border-radius: 28rem;
        }

        &Title {
            position: absolute;
            bottom: -3rem;
            left: 50%;
            z-index: 2;
            padding: 6rem 16rem;
            color: #fff;
            font-weight: 600;
            font-size: 20rem;
            line-height: 1.3;
            letter-spacing: 2%;
            text-align: center;
            text-transform: uppercase;
            background: #f1882c;
            border-radius: 360rem;
            transform: translate(-50%, 50%);

            @include mob {
                bottom: 0;
                width: 77%;
                padding: 10rem 16rem;
                font-size: 18rem;
            }
        }
    }

    &__slider {
        position: relative;
        width: 100%;

        &Btn {
            position: absolute;
            top: 130rem;
            z-index: 2;
            width: 60rem;
            height: 60rem;
            padding: 18rem;
            background: #fff;
            border-radius: 50%;

            &._prev {
                left: 0;
                padding-left: 14rem;
            }

            &._next {
                right: 0;
                padding-right: 14rem;
            }
        }

        &Inner {
            width: 100%;
        }
    }

    &__cards {
        display: flex;
        width: calc(100% + 32rem);

        @include mob {
            display: inline-flex;
            width: auto;
        }

        &Item {
            width: 25%;

            @include mob {
                width: 382rem;
                margin-right: 16rem;
                padding: 0 16rem;
            }
        }
    }

    &__card {
        width: 100%;
        padding: 0 16rem;

        &Head {
            width: 100%;
            margin-bottom: 24rem;
            background: radial-gradient(#009843, #003216 56%);
            border-radius: 28rem;
            aspect-ratio: 1/1;

            @include mob {
                margin-bottom: 20rem;
                border-radius: 24rem;
            }

            &Thumb {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &Name {
            width: 100%;
            color: #fff;
            font-weight: 600;
            font-size: 16.5rem;
            line-height: 1.3;
            text-align: center;
            text-transform: uppercase;

            @include mob {
                font-size: 18rem;
            }
        }
    }
}
