.faqForm {
    width: 100%;
    padding: 100rem 0 0;

    @include mob {
        padding: 50rem 0 0;
    }

    &__inner {
        position: relative;
        z-index: 1;
        align-items: center;
        width: 100%;
        padding: 48rem;
        overflow: hidden;
        background: #003216;
        border-radius: 24rem;

        @include mob {
            width: 100%;
            padding: 26rem 10rem;
            border-radius: 24rem;
        }

        &Box {
            align-items: center;
            width: 100%;
            transition: $trans;
        }

        &Blocks {
            width: 750rem;

            @include mob {
                width: 100%;
            }
        }

        &Block {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }

    &__success {
        display: flex;
        flex-direction: column;
        width: 100%;
        will-change: transform;

        &Inner {
            align-items: center;
            width: 100%;
            margin: auto;
            padding: 70rem 32rem;
            background: #f1882c;
            border-radius: 16rem;

            @include mob {
                width: 100%;
                padding: 36rem 50rem;
            }
        }

        &Title {
            color: #fff;
            font-weight: 600;
            font-size: 40rem;
            font-family: Sofia;
            text-align: center;
            text-transform: uppercase;

            @include mob {
                font-size: 20rem;
            }
        }

        &Text {
            margin-top: 18rem;
            color: #fff;
            font-weight: 500;
            font-size: 18rem;
            line-height: 1.3;
            text-align: center;

            @include mob {
                margin-top: 12rem;
                font-size: 16rem;
            }
        }
    }

    &__title {
        position: relative;
        z-index: 2;
        width: 100%;
        margin-bottom: 28rem;
        color: #ffde82;
        font-weight: 600;
        font-size: 48rem;
        font-family: Sofia;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;

        @include mob {
            margin-bottom: 18rem;
            font-size: 36rem;
            line-height: 1.05;
        }
    }

    &__form {
        position: relative;
        z-index: 1;
        width: 100%;
        padding-bottom: 20rem;

        @include mob {
            padding-bottom: 10rem;
        }
    }
}
