.closeBtn {
    width: 46rem;
    height: 46rem;
    padding: 14rem;
    background: #f1882c;
    border-radius: 50%;

    @include icon(#fff);
    @include button(0.95);

    @include mob {
        width: 44rem;
        height: 44rem;
    }
}
