.codeInputs {
    position: relative;
    justify-content: center;
    width: 100%;

    &__item {
        width: 56rem;
        height: 56rem;
        background: #f9ecfd;
        border-radius: 16rem;

        @include mob {
            width: 52rem;
            height: 52rem;
            border-radius: 14rem;
        }

        & + & {
            margin-left: 10rem;

            @include mob {
                margin-left: 5rem;
            }
        }

        &Input {
            width: 100%;
            height: 100%;
            padding: 8rem;
            color: #000;
            font-weight: 500;
            font-size: 18rem;
            line-height: 1.4;
            text-align: center;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                margin: 0;
                -webkit-appearance: none;
            }
        }
    }

    &__loader {
        top: 50%;
        left: 100%;
        width: 26rem;
        height: 26rem;
        margin-left: 10rem;
        transform: translate(0, -50%);

        & ._LL {
            background: #5d279e !important;
        }

        @include mob {
            top: 3rem;
            right: 3rem;
            left: auto;
            width: 20rem;
            height: 20rem;
            margin: 0;
            transform: translate(0, 0);

            & ._LOADERITEM {
                width: 100%;
                height: 100%;
            }
        }
    }
}
