@font-face {
    font-weight: 400;
    font-family: Montserrat;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-weight: 500;
    font-family: Montserrat;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-weight: 600;
    font-family: Montserrat;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-weight: 400;
    font-family: Sofia;
    font-style: normal;
    src: url("../fonts/Sofia/SofiaSansExtraCondensed-Regular.ttf");
}

@font-face {
    font-weight: 600;
    font-family: Sofia;
    font-style: normal;
    src: url("../fonts/Sofia/SofiaSansExtraCondensed-Bold.ttf");
}
