.page {
    position: relative;
    width: 100%;
    height: 100%;

    &__topBar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        transition: $trans;

        &._fix {
            z-index: 3;
            border-radius: 0 0 48rem 48rem;

            @include bg("/media/Menu-scroll.jpg", cover, center top);

            @include mob {
                border-radius: 0 0 24rem 24rem;

                @include bg("/media/Menu-scroll-mob.jpg", cover, center top);
            }
        }

        &._fix:not(._show) {
            transform: translate(0, -100%);
        }
    }

    &__menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #005d2d, #277536, #005d2d);
        will-change: transform;

        &:not([data-show]) {
            pointer-events: none;
        }
    }

    &__close {
        position: absolute;
        top: 154rem;
        right: 205rem;
        z-index: 10;
        transition: $trans;

        &._move {
            transform: translate(90rem, 0);
        }
    }

    &._game &__close {
        top: 160rem;
        right: 160rem;
        transform: translate(0, 0);
    }

    &._game .closeBtn {
        background: #ff49b8;
        box-shadow: 0 2rem 0 0 rgba(#000, 0.3);

        @include icon(#8200cc);
    }

    &__scroll {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;

        &Inner {
            position: relative;
            z-index: 1;
            width: 100%;
            min-height: var(--wheight);
            background: linear-gradient(to right, #005d2d, #277536, #005d2d);
        }

        &Content {
            position: relative;
            z-index: 1;
            width: 100%;
            overflow: clip;

            // transform: translate(0, -2500px);
            transition: $trans;
        }
    }

    &__loader {
        top: 0;
        height: var(--wheight);
    }

    ._BOT &__scrollInner {
        @include mob {
            padding: 20rem !important;
        }
    }

    &._loading &__scrollContent {
        opacity: 0;
    }

    &._inner &__scrollContent {
        width: 1150rem;
        margin: 0 auto;
        padding: 150rem 0 100rem;
        overflow: hidden;
        border-radius: 24rem;

        @include mob {
            width: 100%;
            padding: 100rem 15rem;
            background: none;
            border-radius: 20rem;
        }
    }

    &._inner &__scrollInner {
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            content: "";

            @include bg("/media/inner/inners-back-desktop.svg", 100% auto, center top);

            @include mob {
                @include bg("/media/inner/inners-back-mob.svg", 100% auto, center top);
            }
        }
    }

    &__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20rem;
    }

    &__title {
        text-align: center;
    }

    &__content {
        width: 100%;
    }

    &__footer {
        margin-top: auto;
    }
}
