.winners {
    align-items: center;
    width: 100%;

    &__head {
        align-items: center;
        width: 100%;
        margin-bottom: 34rem;

        @include mob {
            position: relative;
            z-index: 10;
            margin-bottom: 28rem;
        }

        &Title {
            margin-bottom: 10rem;
            text-align: center;
        }

        &Info {
            color: #5d279e;
            font-size: 16rem;
            line-height: 1.3;
            text-align: center;

            &Link {
                display: inline-block;
                color: #d300b4;
                line-height: 1;
                border-bottom: 1rem solid rgba(#ff49b8, 0.72);
            }
        }
    }

    &__content {
        width: 100%;
        padding: 40rem;
        background: #003216;
        border-radius: 40rem;

        @include mob {
            padding: 16rem;
            border-radius: 16rem;
        }
    }

    &__bar {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 36rem;
        padding: 26rem 24rem 18rem;
        background: #f1882c;
        border-radius: 20rem;

        @include mob {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: auto;
            margin-bottom: 36rem;
            padding: 19rem 10rem;
        }

        &Block {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(50% - 16rem);
            height: 100%;

            &:first-child {
                z-index: 2;
            }

            @include mob {
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                height: auto;

                & + & {
                    margin-top: 22rem;
                }
            }

            &Field {
                width: 100%;
                height: 54rem;

                @include mob {
                    width: 100%;
                    height: 54rem;
                }
            }

            &Support {
                margin-top: 6rem;
                color: #fff;
                font-weight: 500;
                font-size: 14rem;
                line-height: 1.2;

                @include mob {
                    width: 100%;
                    margin-top: 8rem;
                    text-align: center;
                }
            }

            &Search {
                position: relative;
                width: 100%;
                height: 100%;
                background: #fff;
                border-radius: 12rem;

                & i {
                    position: absolute;
                    top: 50%;
                    right: 18rem;
                    z-index: 2;
                    width: 20rem;
                    height: 20rem;
                    transform: translate(0, -50%);
                    pointer-events: none;

                    @include icon(#003216);

                    @include mob {
                        right: 16rem;
                    }
                }
            }
        }
    }

    &__table {
        position: relative;
        z-index: 1;
        width: 100%;

        @include mob {
            width: calc(100% + 20rem);
            margin-left: -10rem;
        }

        &Inner {
            width: 100%;
        }

        &Button {
            width: 240rem;
            margin: 50rem auto 0;

            @include mob {
                margin-top: 40rem;
            }
        }
    }
}
